@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

:root {
  --mint:#06D6A0;
  --red: #F21B3F;
  --lav: #DFB2F4;
  --yel:#FCDC4D;
  --bg: #0D0D1A;
  --card: #161628;
  --card2: #1E1E36;
  --border: #2A2A48;
}

* {
  box-sizing: border-box;
}


body {
  background: var(--bg);
  color: #fff;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}
